[user]
  email = {{ .git.email | quote }}
  name = {{ .git.name | quote }}
  signingkey = {{ .git.signingkey | quote }}

[push]
  autoSetupRemote = true

[init]
{{- if eq .chezmoi.hostname "xo-dev-mkrebs" }}
  defaultBranch = master
{{- else }}
  defaultBranch = main
{{- end }}

[commit]
  gpgsign = true
