configuration {
  show-icons: true;
  drun-icon-theme: "Papirus-Dark";
  terminal: "wezterm";
  display-window: "Windows";
  display-run: "Commands";
  display-ssh: "SSH";
  display-drun: "Applications";
  display-combi: "All";
  timeout {
      action: "kb-cancel";
      delay:  10;
  }
  filebrowser {
      directories-first: true;
      sorting-method: "name";
  }
}
@theme "ayu-mirage"
listview {
  lines: 6;
}
